<div class="navigation {{ app.navigationState ? 'active' : '' }}">

  <div class="shape" (click)="toggleMenu()"></div>

  <div class="hamburger" (click)="toggleMenu()">
    <span class="hamburger_line_1"></span>
    <span class="hamburger_line_2"></span>
    <span class="hamburger_line_3"></span>
  </div>

  <div *ngIf="app.loaded">

    <div class="languages">

      <div class="flex"></div>

      <div class="language" *ngFor="let language of app.languages">
        <img
          src     = "{{ language.icon }}"
          alt     = "{{ language.id }}"
          (click) = "selectLanguage(language.id)"
        />
        <div class="tooltip {{ languageStatus(language.id) }}">
          <span>{{ i18n(language, 'title') }}</span>
        </div>
      </div>

    </div>

    <div class="features">
      <div class="feature {{ featureStatus(feature.id) }}" *ngFor="let feature of app.features">

        <a (click)="toggleMenu()" routerLink="{{ parseRoute(feature) }}">
          <span>{{ i18n(feature, 'title') }}</span>
        </a>

      </div>
    </div>

  </div>

  <div class="full-screen click-catcher" (click)="toggleMenu()"></div>

</div>

<div class="full-screen">
  <div class="loader"></div>
</div>

<div *ngIf="app.loaded">
  <router-outlet></router-outlet>
</div>
