<div class="navigation {{ app.navigationState ? 'active' : '' }}">

  <div class="shape" (click)="toggleMenu()"></div>

  <div class="hamburger" (click)="toggleMenu()">
    <span class="hamburger_line_1"></span>
    <span class="hamburger_line_2"></span>
    <span class="hamburger_line_3"></span>
  </div>

  <div *ngIf="app.loaded">

    <div class="languages">

      <div class="flex"></div>

      <div class="language {{ languageStatus(language.id) }}" *ngFor="let language of app.languages">

        <img src="{{ language.icon }}" (click)="selectLanguage(language.id)" alt="{{ language.id }}">

      </div>

    </div>

    <div class="features">

      <!-- Home -->
      <div class="feature">
        <img src="{{ app.features['home'].icon }}" alt="" height="50" width="50"/>

        <div class="link" (click)="scrollTo(0)">
          <span>{{ i18n.translate(app.features['home'], 'title') }}</span>
        </div>
      </div>

      <!-- Video Archive -->
      <div class="feature">
        <img src="{{ app.features['videoArchive'].icon }}" alt="" height="50" width="50"/>

        <div class="link" (click)="scrollTo(1)">
          <span>{{ i18n.translate(app.features['videoArchive'], 'title') }}</span>
        </div>
      </div>

      <!-- Photo Archive -->
      <div class="feature">
        <img src="{{ app.features['photoArchive'].icon }}" alt="" height="50" width="50"/>

        <div class="link" (click)="scrollTo(2)">
          <span>{{ i18n.translate(app.features['photoArchive'], 'title') }}</span>
        </div>
      </div>

      <!-- Contact -->
      <div class="feature">
        <img src="{{ app.features['contact'].icon }}" alt="" height="50" width="50"/>

        <div class="link" (click)="scrollTo(3)">
          <span>{{ i18n.translate(app.features['contact'], 'title') }}</span>
        </div>
      </div>

    </div>

  </div>

  <div class="full-screen click-catcher" (click)="toggleMenu()"></div>

</div>

<div *ngIf="app.loaded" [@routerTransition]="getState(o)">
  <router-outlet #o="outlet"></router-outlet>
</div>
