<!-- Navigation -->
<div class="navigation {{ app.navigationState ? 'active' : '' }}">

  <!-- Menu Button -->
  <div class="shape" (click)="toggleMenu()"></div>

  <!-- Menu Icon -->
  <div class="hamburger" (click)="toggleMenu()">
    <span class="hamburger_line_1"></span>
    <span class="hamburger_line_2"></span>
    <span class="hamburger_line_3"></span>
  </div>

  <!-- Menu Content -->
  <div *ngIf="app.loaded">

    <!-- Languages -->
    <div class="languages">

      <div class="flex"></div>

      <div class="language {{ languageStatus(language.id) }}" *ngFor="let language of app.languages">

        <img src="{{ language.icon }}" (click)="selectLanguage(language.id)" alt="{{ language.id }}">

      </div>

    </div>

    <!-- Sections -->
    <div class="features layout-column">

      <div class="flex hr"></div>

      <!-- Feature -->
      <div class="feature" (click)="scrollTo(i)" *ngFor="let feature of app.features; let i = index;">
        <img src="{{ feature.icon }}" alt="" />

        <div class="link">
          <span>{{ i18n.translate(feature, 'title') }}</span>
        </div>
      </div>

      <div class="flex"></div>
      <div class="flex"></div>

    </div>

  </div>

  <!-- Click Catcher -->
  <div class="full-screen click-catcher" (click)="toggleMenu()"></div>

</div>

<!-- Content -->
<div *ngIf="app.loaded">
  <router-outlet></router-outlet>
</div>
