.home {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  will-change: transform;
  transform: translateZ(0);
  background-color: #fff;
}

.news {
  .content {

    > div {
     padding: 50px;
     margin: auto;
    }
    h2, p {
      text-align: right;
      margin: 50px 0;
    }
    button {
      margin-left: auto;
    }
  }
  .cards {
    position: relative;
    background-color: #dee;
  }
}
