<div class="home full-screen" #scrollEl *ngIf="home.loaded" [style.background-image]="globals.url('home.jpg')">

  <!-- News -->
  <div class="section layout-column" [style.height.px]="sectionHeight()">

    <div class="content layout-row" [style.width]="contentWidth()" [style.height.px]="globals.app.height">
      <div class="layout-column">
        <div class="flex"></div>
        <div class="flex"></div>

        <div class="h2">{{ i18n.translate(home.announcements.content, 'title') }}</div>
        <div class="flex"></div>
        <div class="p">{{ i18n.translate(home.announcements.content, 'description') }}</div>

        <div class="flex"></div>
      </div>
    </div>

    <div class="announcements box flex" [style.height.px]="globals.app.height">

      <div class="fab next {{ isDisabledNext() ? 'disabled' : '' }}" (click)="nextCard()">
        <svg fill="#fff" height="24" viewBox="0 0 24 24" width="24">
          <path d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z" />
          <path d="M0 0h24v24H0z" fill="none" />
        </svg>
      </div>

      <div class="fab previous {{ isDisabledPrevious() ? 'disabled' : '' }}" (click)="previousCard()">
        <svg fill="#fff" height="24" viewBox="0 0 24 24" width="24">
          <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z" />
          <path d="M0-.75h24v24H0z" fill="none" />
        </svg>
      </div>
      <div class="hidden">.</div>

      <div class="cards" [style.width.px]="globals.app.cardSize.w" [style.height.px]="globals.app.cardSize.h">

        <div class="card layout-column card_last {{ isDisabledNext() ? 'card_active' : '' }}" *ngIf="(home.announcements.cards.length > 0)">
          <div class="flex"></div>
          <span>{{ i18n.translate(home.general, 'no-more-announcements') }}</span>
          <div class="flex"></div>
        </div>

        <div class="card layout-column card_last card_active" *ngIf="!(home.announcements.cards.length > 0)">
          <div class="flex"></div>
          <span>{{ i18n.translate(home.general, 'no-announcements') }}</span>
          <div class="flex"></div>
        </div>

        <div class="card layout-column {{ cardStatus(i) }}" *ngFor="let card of home.announcements.cards; let i = index" [style.background]="card.background">
          <div class="flex"></div>
          <span class="h3" *ngFor="let line of card.lines">{{ i18n.translate(line, 'line') }}</span>
          <div class="flex"></div>
        </div>

      </div>

    </div>

  </div>

  <!-- Video Archive -->
  <div class="section layout-column" [style.height.px]="sectionHeight()">

    <div class="content layout-row" [style.width]="contentWidth()" [style.height.px]="globals.app.height">
      <div class="layout-column">
        <div class="flex"></div>
        <div class="flex"></div>

        <div class="h2">{{ i18n.translate(home.videoArchive.content, 'title') }}</div>
        <div class="flex"></div>
        <div class="p">{{ i18n.translate(home.videoArchive.content, 'description') }}</div>

        <div class="flex"></div>
        <div>
          <!-- routerLink="{{ globals.route('videoArchive') }}" -->
          <a class="btn" href="{{ home.features[1].redirect }}" rel="noopener" target="_blank">
            <span>{{ i18n.translate(home.general, 'more') }}</span>
          </a>
        </div>

        <div class="flex"></div>
      </div>
    </div>

    <div class="video-album box flex" [style.height.px]="globals.app.height">

      <div class="fab" (click)="toggleVideoState()">

        <!-- play -->
        <svg *ngIf="(!video.isActive && !video.isLoading)" fill="#fff" height="24" viewBox="0 0 24 24" width="24">
          <path d="M8 5v14l11-7z" />
          <path d="M0 0h24v24H0z" fill="none" />
        </svg>

        <!-- stop -->
        <svg *ngIf="(video.isActive && !video.isLoading)" fill="#fff" height="24" viewBox="0 0 24 24" width="24">
          <path d="M0 0h24v24H0z" fill="none" />
          <path d="M6 6h12v12H6z" />
        </svg>

        <!-- loader -->
        <div *ngIf="(video.isLoading)" class="loader"></div>

      </div>

      <app-video [style.width.px]="globals.app.cardSize.w" [style.height.px]="globals.app.cardSize.h" [video]="video"></app-video>

    </div>

  </div>

  <!-- Photo Archive -->
  <div class="section layout-column" [style.height.px]="sectionHeight()">

    <div class="content layout-row" [style.width]="contentWidth()" [style.height.px]="globals.app.height">
      <div class="layout-column">
        <div class="flex"></div>
        <div class="flex"></div>

        <div class="h2">{{ i18n.translate(home.photoArchive.content, 'title') }}</div>
        <div class="flex"></div>
        <div class="p">{{ i18n.translate(home.photoArchive.content, 'description') }}</div>

        <div class="flex"></div>
        <div>
          <!-- routerLink="{{ globals.route('videoArchive') }}" -->
          <a class="btn" href="{{ home.features[2].redirect }}" rel="noopener" target="_blank">
            <span>{{ i18n.translate(home.general, 'more') }}</span>
          </a>
        </div>

        <div class="flex"></div>
      </div>
    </div>

    <div class="photo-album box flex" [style.height.px]="globals.app.height">

      <div class="album" [style.width.px]="globals.app.cardSize.w" [style.height.px]="globals.app.cardSize.h">

        <div (click)="nextPhoto()" *ngFor="let photo of home.photoArchive.album; let i = index">

          <div class="img {{ photoStatus(i) }}" [style.background-image]="photo"></div>

        </div>

      </div>

    </div>

  </div>

  <!-- Contact -->
  <div class="section layout-column" [style.height.px]="sectionHeight()">

    <div class="content layout-row" [style.width]="contentWidth()" [style.height.px]="globals.app.height">
      <div class="layout-column">
        <div class="flex"></div>
        <div class="flex"></div>

        <div class="h2">{{ i18n.translate(home.contact.content, 'title') }}</div>
        <div class="flex"></div>
        <div class="p" *ngFor="let line of home.contact.content.description">{{ i18n.translate(line, 'line') }}</div>

        <div class="flex"></div>
      </div>
    </div>

    <div class="contact box flex" [style.height.px]="globals.app.height">

      <div class="cards layout-column" [style.width.px]="globals.app.cardSize.w" [style.height.px]="globals.app.cardSize.h">

        <div class="card" *ngFor="let card of home.contact.cards">

          <div class="layout-column">

            <div class="icon flex" [style.background-image]="globals.url('contact.png')"></div>

            <div class="layout-column layout-center">
              <div class="flex"></div>
              <div class="p">{{ card.name }}</div>
              <div class="p">{{ card.phone }}</div>
              <div class="flex"></div>
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
