<div class="home full-screen" #scrollEl *ngIf="home.loaded">

  <!-- News -->
  <div class="layout-row" [style.height.px]="globals.app.height">

    <div class="content layout-row" [style.width.px]="globals.app.boxSize">
      <div>

        <div class="h2">{{ i18n.translate(home.announcements.content, 'title') }}</div>
        <div class="p">{{ i18n.translate(home.announcements.content, 'description') }}</div>

      </div>
    </div>

    <div class="box flex" *ngIf="globals.app.width >= 1024">

      <button class="btn next" mat-fab color="primary" [disabled]="!(home.box.cardId < home.announcements.cards.length)" (click)="next()">
        <svg fill="#fff" height="24" viewBox="0 0 24 24" width="24">
          <path d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
      </button>

      <button class="btn previous" mat-fab color="primary" [disabled]="!(home.box.cardId > 0)" (click)="previous()">
        <svg fill="#fff" height="24" viewBox="0 0 24 24" width="24">
          <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
          <path d="M0-.75h24v24H0z" fill="none"/>
        </svg>
      </button>

      <div class="cards" [style.width.px]="globals.app.cardSize" [style.height.px]="globals.app.cardSize">

        <div class="card card_last" *ngIf="(home.announcements.cards.length > 0)">
          <span>{{ i18n.translate(home.general, 'no-more-announcements') }}</span>
        </div>

        <div class="card card_last" *ngIf="!(home.announcements.cards.length > 0)">
          <span>{{ i18n.translate(home.general, 'no-announcements') }}</span>
        </div>

        <div class="card {{ cardStatus(i) }}" [style.background]="card.background" *ngFor="let card of home.announcements.cards; let i=index">
          <span [style.color]="card.color" class="h3">{{ i18n.translate(card, 'title') }}</span>
        </div>

      </div>

    </div>

  </div>

  <!-- Video Archive -->
  <div class="layout-row" [style.height.px]="globals.app.height">

    <div class="content layout-row" [style.width.px]="globals.app.boxSize">
      <div>

        <div class="h2">{{ i18n.translate(home.videoArchive.content, 'title') }}</div>
        <div class="p">{{ i18n.translate(home.videoArchive.content, 'description') }}</div>

        <div class="layout-row">
          <a class="btn" mat-raised-button routerLink="{{ route('videoArchive') }}">
            <span>{{ i18n.translate(home.general, 'more') }}</span>
          </a>
        </div>

      </div>
    </div>

    <div class="video-album box flex" *ngIf="globals.app.width >= 1024">

      <button class="btn" mat-fab color="primary" (click)="toggleVideoState()">

        <!-- play -->
        <svg *ngIf="!(video.isActive)" fill="#fff" height="24" viewBox="0 0 24 24" width="24">
          <path d="M8 5v14l11-7z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>

        <!-- stop -->
        <svg *ngIf="(video.isActive)" fill="#fff" height="24" viewBox="0 0 24 24" width="24">
          <path d="M0 0h24v24H0z" fill="none"/>
          <path d="M6 6h12v12H6z"/>
        </svg>

      </button>

      <bnb-video
        [style.width.px]  = "globals.app.cardSize"
        [style.height.px] = "globals.app.cardSize"
        [video]           = "video"
      ></bnb-video>

    </div>

  </div>

  <!-- Photo Archive -->
  <div class="layout-row" [style.height.px]="globals.app.height">

    <div class="content layout-row" [style.width.px]="globals.app.boxSize">
      <div>

        <div class="h2">{{ i18n.translate(home.photoArchive.content, 'title') }}</div>
        <div class="p">{{ i18n.translate(home.photoArchive.content, 'description') }}</div>

        <div class="layout-row">
          <a class="btn" mat-raised-button routerLink="{{ route('photoArchive') }}">
            <span>{{ i18n.translate(home.general, 'more') }}</span>
          </a>
        </div>

      </div>
    </div>

    <div class="box flex" *ngIf="globals.app.width >= 1024">

      <div class="card" [style.width.px]="globals.app.cardSize" [style.height.px]="globals.app.cardSize"></div>

    </div>

  </div>

  <!-- Contact -->
  <div class="layout-row" [style.height.px]="globals.app.height">

    <div class="content layout-row" [style.width.px]="globals.app.boxSize">
      <div>

        <div class="h2">{{ i18n.translate(home.contact.content, 'title') }}</div>
        <div class="p">{{ i18n.translate(home.contact.content, 'description') }}</div>

      </div>
    </div>

    <div class="box flex" *ngIf="globals.app.width >= 1024">

      <div class="card" [style.width.px]="globals.app.cardSize" [style.height.px]="globals.app.cardSize"></div>

    </div>

  </div>

</div>
