.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  background: #134;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);

  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;

    .h2 {
      font-size: 20px;
      padding: 5px;
      text-align: center;
      line-height: 125%;
    }
    .p {
      font-size: 16px;
      padding: 10px 30px 10px 10px;
      line-height: 150%;
      text-align: center;
    }
    > div {
      transform: scale(1);
      opacity: 1;
      margin: 0;
      background: rgba(0,0,0, 0.5);
      transition: all 100ms ease-out;
    }
    &:hover > div {
      transform: scaleY(0);
      opacity: 0;
    }
  }
  youtube-player {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  @media (min-width: 500px) {
    .h2 {
      padding: 50px;
      font-size: 32px;
    }
    .p {
      padding: 50px;
      font-size: 24px;
    }
  }
  @media (min-width: 1024px) {
    .h2 {
      font-size: 44px;
    }
    .p {
      font-size: 24px;
    }
  }
}
